@model FrontendCNE.Models.MunicipioViewModel
@{ ViewData["Title"] = "tbMunicipio".Substring(2);
    ViewData["ViewName"] = "_Create".Substring(1); }
<h4>Agregar Departamento</h4>
<hr />
<div class="row">
    <div class="col" style="max-width: 600px;">
        <form asp-action="@ViewData["ViewName"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mun_Id" class="control-label"></label>
                            <input asp-for="Mun_Id" class="form-control" />
                            <span asp-validation-for="Mun_Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mun_Descripcion" class="control-label"></label>
                            <input asp-for="Mun_Descripcion" class="form-control" />
                            <span asp-validation-for="Mun_Descripcion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Dep_Id" class="control-label"></label>
                                <input asp-for="Dep_Id" class="form-control" />
                                <span asp-validation-for="Dep_Id" class="text-danger"></span>
                            </div>
                        </div>
                    </div>*@




                <div class="col-md-6">

                    <label for="Dep_Id">Departamento</label>
                    <select id="Dep_Id" name="Dep_Id" class="form-control">
                        <option value="">Seleccionar DEpto</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script>
    async function ObtenerDepto() {
        try {
            const response = await fetch('https://localhost:44377/API/Municipio/Depto');
            if (!response.ok) {
                throw new Error('Error al obtener Departamentos');
            }
            const data = await response.json();
            console.log(data)
            $("#Dep_Id").empty().append('<option value="">Seleccione una opcion</option>');
            $.each(data, function (key, depto) {
                $("#Dep_Id").append(`<option value="${depto.dep_Id}">${depto.dep_Descripcion}</option>`);
            });

        } catch (error) {
            console.error(error);
        }
    }

    ObtenerDepto();
</script>


