@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CelestialUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.min.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <link href="~/css/IziToast.css" rel="stylesheet" />

</head>
<body>
    <div class="row" id="proBanner">
        <div class="col-12">
            <a href="https://www.bootstrapdash.com/product/celestial-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=free-preview"></a>
        </div>
    </div>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><img src="~/images/consejo-nacional-electoral-seeklogo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/images/logo-mini.svg" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">

                    <span class=" float-sm-right " style="padding-left: 10%;"> <img src="../../images/bandera.png" alt=""></span>

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="nav-profile-name">Evan Morales</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

                            <a class="dropdown-item">
                                <i class="typcn typcn-power text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
        </nav>



        @{
            HttpContextAccessor _httpContextAccesor = new HttpContextAccessor();
            var pantallasJson = _httpContextAccesor.HttpContext.Session.GetString("Pantallas");
            var pantallas = JsonSerializer.Deserialize<List<string>>(pantallasJson);


        }




        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <div class="d-flex sidebar-profile">
                            <div class="sidebar-profile-image">
                                <img src="~/images/faces/face29.png" alt="image">
                                <span class="sidebar-status-indicator"></span>
                            </div>
                            <div class="sidebar-profile-name">
                                <p class="sidebar-name">
                                    Kenneth Osborne
                                </p>
                                <p class="sidebar-designation">
                                    Welcome
                                </p>
                            </div>
                        </div>

                        <p class="sidebar-menu-title">Dash menu</p>
                    </li>
                    @if (pantallas != null && pantallas.Contains("Roles") || pantallas.Contains("Admin") || pantallas.Contains("Usuarios"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <i class="typcn typcn-briefcase menu-icon"></i>
                                <span class="menu-title">Acceso</span>
                                <i class="typcn typcn-chevron-right menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    @if (pantallas != null && pantallas.Contains("Roles") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Rol" asp-action="Index">Roles</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Usuarios") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Usuario" asp-action="Index">Usuario</a></li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @if (pantallas != null && pantallas.Contains("Departamentos") || pantallas.Contains("Admin") || pantallas.Contains("EstadosCiviles") || pantallas.Contains("Municipios") || pantallas.Contains("Personas"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                                <i class="typcn typcn-th-small-outline menu-icon"></i>
                                <span class="menu-title">General</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="tables">
                                <ul class="nav flex-column sub-menu">
                                    @if (pantallas != null && pantallas.Contains("Departamentos") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="DepartamentoController1" asp-action="Index">Departamentos</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("EstadosCiviles") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="EstadoCivil" asp-action="Index">Estado Civil</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Municipios") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Municipio" asp-action="Index">Municipio</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Personas") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Persona" asp-action="Index">Persona</a></li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @if (pantallas != null && pantallas.Contains("Alcaldes") || pantallas.Contains("Admin") || pantallas.Contains("CentrosVotaciones") || pantallas.Contains("Diputados") || pantallas.Contains("Mesas") || pantallas.Contains("Partidos") || pantallas.Contains("Presidentes") || pantallas.Contains("Votos"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                                <i class="typcn typcn-compass menu-icon"></i>
                                <span class="menu-title">Votaciones</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="icons">
                                <ul class="nav flex-column sub-menu">
                                    @if (pantallas != null && pantallas.Contains("Alcaldes") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Alcalde" asp-action="Index">Alcalde</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("CentrosVotaciones") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="CentroVotacion" asp-action="Index">CentroVotacion</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Diputados") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Diputado" asp-action="Index">Diputado</a></li>
                                    } @*<li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Empleados</a></li>*@
                                    @if (pantallas != null && pantallas.Contains("Mesas") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Mesa" asp-action="Index"> Mesa</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Partidos") || pantallas.Contains("Admin"))
                                    {

                                        <li class="nav-item"> <a class="nav-link" asp-controller="Partido" asp-action="Index">Partido</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Presidentes") || pantallas.Contains("Admin"))
                                    {
                                        <li class="nav-item"> <a class="nav-link" asp-controller="Presidente" asp-action="Index">Presidentes</a></li>
                                    }
                                    @if (pantallas != null && pantallas.Contains("Votacion") || pantallas.Contains("Admin"))
                                    {

                                        <li class="nav-item"> <a class="nav-link" asp-controller="Votacion" asp-action="Index">Votos</a></li>
                                    }
                                </ul>
                            </div>
                        </li>

                    }

                </ul>

            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="#" target="_blank">CNE</a> 2024</span>

                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- <script src="vendors/chart.js/Chart.min.js"></script> -->
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <!-- <script src="js/dashboard.js"></script> -->
    <!-- End custom js for this page-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/js/IziToast.js"></script>

<script>
$(document).ready(function () {
      @if (TempData["Exito"] != null)
      {
          <text>
              iziToast.success({
                  title: 'Éxito',
                  message: '@TempData["Exito"]',
                  position: 'topRight',
                  transitionIn: 'flipInX',
                  transitionOut: 'flipOutX'
              });
          </text>
      }

      @if (TempData["Error"] != null)
      {
          <text>
              iziToast.error({
                  title: 'Error',
                  message: '@TempData["Error"]',
                  position: 'topRight',
                  transitionIn: 'flipInX',
                  transitionOut: 'flipOutX'
              });
          </text>
      }
      @if (TempData["Advertencia"] != null)
      {
          <text>
              iziToast.warning({
                  title: 'Error',
                  message: '@TempData["Advertencia"]',
                  position: 'topRight',
                  transitionIn: 'flipInX',
                  transitionOut: 'flipOutX'
              });
          </text>
      }
  });
</script>