@model CNE.Common.Models.MesaViewModel
@{ ViewData["Title"] = "tbMesas".Substring(2);
                ViewData["ViewName"] = "_Create".Substring(1); }
<h4>Agregar Departamento</h4>
<hr />
<div class="row">
    <div class="col" style="max-width: 600px;">
        <form asp-action="@ViewData["ViewName"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mes_Jurado" class="control-label"></label>
                            <input asp-for="Mes_Jurado" class="form-control" />
                            <span asp-validation-for="Mes_Jurado" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mes_Custodio1" class="control-label"></label>
                            <input asp-for="Mes_Custodio1" class="form-control" required/>
                            <span asp-validation-for="Mes_Custodio1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mes_Custodio2" class="control-label"></label>
                            <input asp-for="Mes_Custodio2" class="form-control" />
                            <span asp-validation-for="Mes_Custodio2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}