@model FrontendCNE.Models.AlcaldeViewModel

<h4>Alcaldes</h4>
<hr />
<div class="modal-content">
    <div class="modal-body ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Per_Id">Persona</label>
                        <select id="Per_Id" name="Per_Id" class="form-control">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>


                    <div class="col-md-6">

                        <label for="Par_id">Partido</label>
                        <select id="Par_id" name="Par_id" class="form-control">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>



                </div>

                <div class="row">
                    <div class="col-md-6">

                        <label for="formFile" class="form-label">Elija una imagen</label>
                        <input asp-for="FotoP" class="form-control" type="file" id="formFile">


                        <span asp-validation-for="FotoP" class="text-danger"></span>

                    </div>
                </div>


            </div>


           

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="Alcalde" class="btn btn-secondary" asp-action="Index">Regresar</a>

            </div>
        </form>

    </div>
    </div>

    <script>

       



    </script>


