@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Acceder a la sesión
    var session = HttpContextAccessor.HttpContext.Session;
}
@{
    ViewData["Title"] = "Details";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Finance Mobile Application-UX/UI Design Screen One</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="~/loginStyle/style.css">
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
   
</head>
<body style="3 4 5 6 CSS background: rgb(195,194,209); background: linear-gradient(354deg, rgba(195,194,209,1) 0%, rgba(118,198,208,1) 63%); ">
    <!-- Imagen a la izquierda -->
   
    <form class="login" style="height:500px; width:600px;">

        <!-- partial:index.partial.html -->
        <div class="screen-1">
            <div class="text-center mb-4 mt-3">
                <a>
                    <span><img src="~/images/consejo-nacional-electoral-seeklogo.svg" alt="" height="100"></span>
                </a>
            </div>

            @*<g transform="matrix(3.31 0 0 3.31 320.4 240.4)">
                    <circle style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(61,71,133); fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="40"></circle>
                </g>*@
            @*<g transform="matrix(0.98 0 0 0.98 268.7 213.7)">
                    <circle style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="40"></circle>
                </g>*@
            @*<g transform="matrix(1.01 0 0 1.01 362.9 210.9)">
                    <circle style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="40"></circle>
                </g>*@
            @*<g transform="matrix(0.92 0 0 0.92 318.5 286.5)">
                    <circle style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="40"></circle>
                </g>*@
            @*<g transform="matrix(0.16 -0.12 0.49 0.66 290.57 243.57)">
                    <polygon style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" points="-50,-50 -50,50 50,50 50,-50 "></polygon>
                </g>*@
            @*<g transform="matrix(0.16 0.1 -0.44 0.69 342.03 248.34)">
                    <polygon style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" points="-50,-50 -50,50 50,50 50,-50 "></polygon>
                </g>*@


            <div class="email">
                <label for="email">Usuario</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="Usuario" id="usu" class="form-control" />
                </div>
            </div>
            <div class="password">
                <label for="password">Password</label>
                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input class="pas form-control" type="password" name="Contrasenia" id="contra"  />
                    @*<div class="text-right ">
                            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
                        </div>*@
                </div>
            </div>
            <div @*class=" mb-4"*@>
                <button class="btn btn-primary form-control">Ingresar </button>
            </div>
              <div @*class="mb-1 "*@>
                    <a class="btn btn-secondary  btn-block" asp-controller="VOtacion" asp-action="Index">Votar</a>
              </div>
        </div>
    </form>

    <!-- partial -->

</body>
</html>


<script>

    



    $("#ingresar").click(function () {
        var usua = $("#usu").val();
        var contra = $("#contra").val();

        var url = "https://localhost:44377/Login/" + usua + contra;

        localStorage.setItem("usua", usua);
        localStorage.setItem("contra", contra);


        fetch(url)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {
                if (data.data.per_Voto === false) {
                    console.log("El valor de per_Voto es false.", data.data.per_Voto);
                    window.location.href = "/Index";
                } else {
                    console.log("El valor de per_Voto no es false.", data.data.per_Voto);
                    Swal.fire({
                        title: "ADVERTENCIA",
                        text: "Ya realizó su voto",
                        icon: "info"
                    });
                }
            })
            .catch(function (error) {
                console.error('Authorization failed : ' + error.message);
                Swal.fire({
                    title: "ERROR",
                    text: "El DNI no corresponde a ninguno ingresado en la base de datos",
                    icon: "error"
                });
            });

</script>