@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Acceder a la sesión
    var session = HttpContextAccessor.HttpContext.Session;
}
@{
    ViewData["Title"] = "Details";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Finance Mobile Application-UX/UI Design Screen One</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    @*<link rel="stylesheet" href="~/loginStyle/style.css">*@
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    @*3 4 5 6 CSS background: rgb(195,194,209); background: linear-gradient(354deg, rgba(195,194,209,1) 0%, rgba(118,198,208,1) 63%);*@
</head>
<body style="background-image: url(../images/Juana.jpg); ">
    <!-- Imagen a la izquierda -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block my-5">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-5">
                                <div class="card">
                                    <div class="card-body">
                                      
                                        <div class="text-center mb-4 mt-3">
                                            <a>
                                                <span><img src="~/images/consejo-nacional-electoral-seeklogo.svg" alt="" height="100"></span>
                                            </a>
                                        </div>
                                        @*<form asp-action="@ViewData["ViewName"]" asp-controller="Votacion" method="post" class="p-2">*@
                                        <form>
                                    <div class="form-group text-center">
                                        <label for="email">Usuario <ion-icon name="mail-outline"></ion-icon></label>
                                        <input type="text" name="Usuario" id="usu" class="form-control" />
                                    </div>
                                        @*<div class="form-group">
                                                        @if (ViewBag.Mensaje != null)
                                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @ViewBag.Mensaje
                                            </div>}
                                                    </div>*@
                                    <div class="form-group text-center">
                                        <label for="password">Password <ion-icon name="lock-closed-outline"></ion-icon></label>
                                        <input class="pas form-control" type="password" name="Contrasenia" id="contra" />
                                    </div>

                                        <div class="mb-3 text-center">


                                            <button class="btn btn-primary form-control">Ingresar </button>
                                        </div>
                                        <div class="mb-3 text-center">
                                           
                                            <a class="btn btn-secondary  btn-block" asp-controller="VOtacion" asp-action="Index">Votar</a>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- end card-body -->
                                </div>


                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- end .w-100 -->
                </div> <!-- end .d-flex -->
            </div> <!-- end col-->
        </div> <!-- end row -->
    </div>

  

</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>





    $("#ingresar").click(function () {
        var usua = $("#usu").val();
        var contra = $("#contra").val();

        var url = "https://localhost:44377/Login/" + usua + contra;

        localStorage.setItem("usua", usua);
        localStorage.setItem("contra", contra);


        fetch(url)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {
                if (data.data.per_Voto === false) {
                    console.log("El valor de per_Voto es false.", data.data.per_Voto);
                    window.location.href = "/Index";
                } else {
                    console.log("El valor de per_Voto no es false.", data.data.per_Voto);
                    Swal.fire({
                        title: "ADVERTENCIA",
                        text: "Ya realizó su voto",
                        icon: "info"
                    });
                }
            })
            .catch(function (error) {
                console.error('Authorization failed : ' + error.message);
                Swal.fire({
                    title: "ERROR",
                    text: "El DNI no corresponde a ninguno ingresado en la base de datos",
                    icon: "error"
                });
            });
    });

</script>